.navbar {
    padding: 15px 30px;
}

.navbar-brand {
    font-weight: bold;
}

.nav-link {
    margin-right: 10px;
}

.nav-item.active .nav-link {
    font-weight: bold;
    text-decoration: underline;
}

.navbar {
    position: relative;
}

.bart-logo {
    position: absolute;
    left: 30px;
    top: 6px;
    height: 50px;
    width: auto;
}

.navbar-logo {
    height: 50px;
    width: auto;
}