.navbar {
    padding: 15px 30px;
}

.navbar-brand {
    font-weight: bold;
}

.nav-link {
    margin-right: 10px;
}

.nav-item.active .nav-link {
    font-weight: bold;
    text-decoration: underline;
}

.container {
    margin-top: 40px;
}